USE [quanlysinhvien]
GO
/****** Object:  Table [dbo].[students]    Script Date: 9/23/2026 2:16:39 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[students](
	[id] [uniqueidentifier] NOT NULL,
	[student_code] [nvarchar](50) NOT NULL,
	[full_name] [nvarchar](255) NOT NULL,
	[email] [nvarchar](255) NOT NULL,
	[phone] [varchar](255) NULL,
	[class_name] [varchar](255) NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
INSERT [dbo].[students] ([id], [student_code], [full_name], [email], [phone], [class_name]) VALUES (N'99f77886-b335-4d11-94bf-6240d2383114', N'SV005', N'Hoàng Thị Em', N'e@gmail.com', N'0944567890', N'C2024B')
INSERT [dbo].[students] ([id], [student_code], [full_name], [email], [phone], [class_name]) VALUES (N'75c9818a-fbda-421e-b397-654869d0e9ac', N'SV008', N'Bùi Thảo H', N'h@gmail.com', N'0977890123', N'C2024B')
INSERT [dbo].[students] ([id], [student_code], [full_name], [email], [phone], [class_name]) VALUES (N'cd146ca5-c894-4b49-b758-67fd9e57ed64', N'SV2000', N'dinh dat', N'dat88457@gmail.com', N'0773354578', N'IT24D')
GO
